nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0.5rem 0;
}

.pesquisa-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  padding: 4px;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.2rem;
}

#img-perfil {
  width: 40px;
  height: 40px;
}
